
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-name{
    font-size: 28px;
    font-weight: 800;
    font-weight:bold;
    color:rgb(13, 19, 33) ;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    color:rgb(13, 19, 33) ;
    border-radius: 10px;
    border: 1px solid;
    padding: 1px 15px;
    background-color: rgb(255, 255, 255);
    
}
.banner-section{
    background-image:url(./assingment-1/assets/Hero-bg.png) ;
    margin: 0 auto;
    height: 650px;
    
}
.banner-items{
    padding-top: 26px;
    text-align: center;
    
}
.banner-items h3{
    font-size: 48px;
    align-items: center;
    color:rgb(13, 19, 33) ;
    padding: 0 220px;
}
.banner-items p{
    font-size: 16px;
    color: rgb(65, 65, 65);
    align-items: center;
    padding: 0 290px;
    margin-bottom: 50px;
}
.banner-section a{
    padding: 21px 21px;
    background-color: rgb(13, 19, 33);
    color:rgb(255, 255, 255) ;
    border-radius: 5px;
    align-items: center;
    margin-top: 50px;
     text-decoration: none;
}
main{
    fixed-width :1140px;
}

.main-section{
    background-color:rgba(13, 19, 33, 0.02) ;
    width: 1140px;
    margin: 130px 150px;
    border-radius: 10px;
    padding-bottom: 80px;

    
}
.title {
    text-align: center;
}
.title h4{
    font-size: 32px;
    font-weight: 800;
    color:rgb(13, 19, 33) ;
    align-items: center;
    padding-top: 50px;
}
.title p{
    font-size: 16px;
    color: rgb(65, 65, 65);
    align-items: center;
    margin: 0 290px;

}
.card{
    display: flex;
    margin: 45px 80px;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    border-radius: 10px;
    padding: 40px 40px;
}
.card-2{
    display: flex;
    margin: 45px 80px;
    justify-content: space-between;
    background-image: linear-gradient(to right,  rgba(255, 255, 255, 0), rgb(255, 255, 255));
    border-radius: 10px;
    padding: 40px 40px;
}
.card-2 h5{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.card-2 p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(65, 65, 65);
}
.card-title{
    width: 470px;
    height: 219px;

    
}
.card h5{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
    
}
.card p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(65, 65, 65);
    
}
.btn-more{
    background-color: rgb(255, 255, 255); 
    font-size: 16px;
    font-weight: 400;
    color:rgb(13, 19, 33) ;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    
}
.video-section{
    text-align: center;
    width: 1400px;  
    margin-top: 10px; 
    
}
.video-title{
    text-align:center ;
    font-size: 35px;
    font-weight: 800;
    font-weight: bold;
}
.video-description{
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    color: rgb(65, 65, 65);
    padding: 0 300px;
    text-align: center;
}
.video{
    border-radius: 10px;
    border: 1px solid rgb(138, 135, 135);
    padding: 20px;
    margin-top: 20px;
}
.videos{
    border-radius: 10px;
}
.target-section{
    width: 1140px;
    margin: 130px 150px;
}
.html-card{
    width: 300px;
    background-color: rgb(255,76,30,0.05);
    padding: 25px;
    border-radius: 10px;
}
.css-card{
    background-color:rgba(0, 76, 232, 0.05) ;
}
.javascript{
    background-color: rgba(255, 223, 0, 0.05);
}
.html-card h4{
    font-size: 24px;
    color: rgb(13, 19, 33);
}
.html-card p{
    font-size: 16px;
    color: rgb(94, 93, 93);
    
}
.html-card a{
    font-size: 16px;
    color: rgb(13, 19, 33);
}
.all-card{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 48px;
}
.next-target h4{
   text-align: center;
   font-size: 32px;
   font-weight: 800;
   color: rgb(13, 19, 33);
   
}
.next-target p{
    text-align: center;
       
}
.target{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.react{
    display: flex;
    align-items: center;
    width: 1000px;
    border: 1px solid rgb(127, 127, 124);
    border-radius: 10px;
    justify-content: space-around;
    padding: 40px;
    gap: 24px;
    margin: 20px;
}
.react-title{
    font-size: 24px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.react-description{
    font-size: 20px;
    font-weight: 400;
    color:rgb(13, 19, 33) ;
}
.react-a{
    font-size: 16px;
    color: rgb(13, 19, 33);
}
.footer{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),  url(./assingment-1/assets/handshake.jpg);
     width: 1140px;
    margin: 50px 150px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    
}
.footer-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px 50px;
}
.footer-title h4{
    font-size: 32px;
    font-weight: 700;
    color:
    rgb(255, 255, 255) ;
}
.footer-title p{
    font-size: 16px;
    font-weight: 400;
    color:rgb(181, 179, 179) ;
    text-align: center;
}

.input-filed{
    align-items: center;
    gap: 20px;
}
.input-type{
    padding: 20px ;
    width: 313px;
    border-radius: 10px;
    border: none;
}
.submit-btn{
    padding: 17px 20px;
    font-size: 20px;
    font-weight: 600;
    color:rgb(13, 19, 33) ;
    border-radius: 10px;
    border: none;
}
.icon-section{
    display: flex;
    justify-content:space-between;
    width: 1110pxpx;
    background-color: rgba(13, 19, 33, 0.03);
    padding: 0 150px;
    align-items: center;
    height: 100px;
}
.icon-title{
    font-size: 20px;
    font-weight: 600px;
    color:rgb(13, 19, 33) ;
}
.footer-icon{
    display: flex;
    gap: 20px;
}
.footer-icon li{
    list-style: none;
    
}

