


.azeret-mono-Normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-name{
    font-size: 28px;
    font-weight: 800;
    font-weight:bold;
    color:rgb(13, 19, 33) ;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    color:rgb(13, 19, 33) ;
    border-radius: 10px;
    border: 1px solid;
    padding: 1px 15px;
    background-color: rgb(255, 255, 255);  
}
.banner-section{
    background-image:url(./assingment-1/assets/Hero-bg.png) ;
    margin: 0 auto;
    
}
.banner-img{
    
}
.banner-items{
    padding-top: 26px;
    text-align: center;
    
}
.banner-items h3{
    font-size: 48px;
    align-items: center;
    color:rgb(13, 19, 33) ;
    padding: 0 220px;
}
.banner-items p{
    font-size: 16px;
    color: rgb(65, 65, 65);
    align-items: center;
    padding: 0 290px;
}
.btn-primary{
    padding: 21px 21px;
    background-color: rgb(13, 19, 33);
    color:rgb(255, 255, 255) ;
    border-radius: 5px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 45px;
}
main{
    width: 1140px;
}
.main-section{
    background-color:rgba(13, 19, 33, 0.02) ;
    width: 1140px;
    margin: 130px 150px;
    border-radius: 10px;
    padding-bottom: 80px;

    
}
.title {
    text-align: center;
}
.title h4{
    font-size: 32px;
    font-weight: 800;
    color:rgb(13, 19, 33) ;
    align-items: center;
    padding-top: 50px;
}
.title p{
    font-size: 16px;
    color: rgb(65, 65, 65);
    align-items: center;
    margin: 0 290px;

}
.card{
    display: flex;
    margin: 45px 80px;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    border-radius: 10px;
    padding: 40px 40px;
}
.card-2{
    display: flex;
    margin: 45px 80px;
    justify-content: space-between;
    background-image: linear-gradient(to right,  rgba(255, 255, 255, 0), rgb(255, 255, 255));
    border-radius: 10px;
    padding: 40px 40px;
}
.card-2 h5{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.card-2 p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(65, 65, 65);
}
.card-title{
    width: 470px;
    height: 219px;

    
}
.card h5{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
    
}
.card p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(65, 65, 65);
    
}
.btn-more{
    background-color: rgb(255, 255, 255); 
    font-size: 16px;
    font-weight: 400;
    color:rgb(13, 19, 33) ;
    padding: 10px;
    border: 1px solid black;
    
}